<h1>New Vehicle</h1>
<p>
  {{ vehicle | json }}
</p>

<form (ngSubmit)="submit()" #f="ngForm">

  <div class="form-group"><label for="">Make</label>
    <select id="Make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" name="makeId" required #make="ngModel">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="make.touched && !make.valid">Please specify the make.</div>
  </div>

  <div class="form-group">
    <label for="model">Model</label>
    <select id="model" class="form-control" [(ngModel)]="vehicle.modelId" name="modelId" required #model="ngModel">
      <option value=""></option>
      <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Please specify the model.</div>
  </div>

  <p>Is this vehicle registered?</p>
  <label for="registered" class="radio-inline">
      <input type="radio" id="registered" value="true" [(ngModel)]="vehicle.isRegistered" name="isRegistered"> Yes
      </label>
  <label for="notRegistered" class="radio-inline">
      <input type="radio" id="notRegistered" value="false" [(ngModel)]="vehicle.isRegistered" name="isRegistered"> No
      </label>


  <h2>Features</h2>

  <div class="checkbox checkbox-primary" *ngFor="let f of features">
    <label for="feature{{ f.id }}">
      <input type="checkbox" id="feature{{ f.id }}" (change)="onFeatureToggle(f.id, $event)"> {{ f.name }}
      </label>
  </div>


  <h2>Contact</h2>

  <div class="form-group">
    <label for="contactName">Name</label>
    <input type="text" id="contactName" class="form-control" [(ngModel)]="vehicle.contact.name" name="contactName" required #cName="ngModel">
    <div class="alert alert-danger" *ngIf="cName.touched && !cName.valid">Please specify name.</div>
  </div>

  <div class="form-group">
    <label for="contactPhone">Phone</label>
    <input type="text" id="contactPhone" class="form-control" [(ngModel)]="vehicle.contact.phone" name="contactPhone" required #cPhone="ngModel">
    <div class="alert alert-danger" *ngIf="cPhone.touched && !cPhone.valid">Please specify phone.</div>
  </div>

  <div class="form-group">
    <label for="contactEmail">Email</label>
    <input type="text" id="contactEmail" class="form-control" [(ngModel)]="vehicle.contact.email" name="contactEmail" required #cEmail="ngModel">
    <div class="alert alert-danger" *ngIf="cEmail.touched && !cEmail.valid">Please specify email.</div>
  </div>

  <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
</form>